{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <!-- LOGIN -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Se connecter</h3>
                                <form action="{{ path('security_login') }}" method="post">
                                    <label for="inputEmail">Email :</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="email" placeholder="Email..." class="form-control" id="inputEmail" aria-describedby="basic-addon3">
                                    </div>
                                    <label for="inputPassword">Mot de passe :</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="password" placeholder="Mot de passe..." class="form-control" id="inputPassword" aria-describedby="basic-addon3">
                                    </div>

                                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Se connecter</button>
                                    <div class="text-center">
                                        <a class="small" href="#">Oubli du mot de passe ?</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- REGISTRATION -->
                    {#<div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">S'inscrire</h3>
                                <form action="{{ path('security_registration') }}" method="post">
                                    <label for="inputPseudo">Pseudo :</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="text" placeholder="Pseudo..." class="form-control" id="inputPseudo" aria-describedby="basic-addon3">
                                    </div>
                                    <label for="inputEmail">Email :</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="email" placeholder="Email..." class="form-control" id="inputEmail" aria-describedby="basic-addon3">
                                    </div>
                                    <label for="inputPassword">Mot de passe :</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="password" placeholder="Mot de passe..." class="form-control" id="inputPassword" aria-describedby="basic-addon3">
                                    </div>
                                    <label for="confirmPassword">Confirmer mot de passe :</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="password" placeholder="Mot de passe..." class="form-control" id="confirmPassword" aria-describedby="basic-addon3">
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">S'inscrire'</button>
                                </form>
                            </div>
                        </div>
                    </div>#}

                </div>
            </div>
        </div>
    </div>
{% endblock %}