{% extends 'base.html.twig' %}

{% block body %}
    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Snow tricks nom_tricks</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Tricks</a></li>
                        <li>Snow tricks information</li>
                    </ol>
                </div>

            </div>
        </section><!-- Breadcrumbs Section -->

        <!-- ======= Tricks Details Section ======= -->
        <section class="tricks-details">
            <div class="container">

                <div class="tricks-details-container">
                        <img src="img/tricks/snowtricks-1.jpg" class="img-fluid" alt="">

                    <div class="tricks-info">
                        <h3>Snow tricks information</h3>
                        <ul>
                            <li><strong>Position</strong>: regular / goofy</li>
                            <li><strong>Grabs</strong>: mute / sad / indy / ...</li>
                            <li><strong>Rotation</strong>: 180 / 360 / 540 / ...</li>
                            <li><strong>Flip</strong>: front / back</li>
                            <li><strong>Slide</strong>: nose / tail</li>
                        </ul>
                    </div>

                </div>

                <div class="tricks-description">
                    <h2>This is an example of Snow tricks detail</h2>
                    <p>
                        Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                    </p>
                </div>
            </div>
        </section><!-- End Tricks Details Section -->

    </main><!-- End #main -->
{% endblock %}